{
  "useDevelopmentStorage": false,
  "connectionString": "DefaultEndpointsProtocol=https;AccountName=memezstorage;AccountKey=6+t0QOD8d2fdE2YaOK/tcZzfAEmRlmHLA03IhyTrnkvxKqx97sNjZ54HE5WnD4US6RsNwljCqC5KYj697X6zGA==",
  "mongodbConnectionString": "mongodb://dankz:J8tTTkOI6xKGuGOfpbPTUw2aehqxd68hWdbPJCF27JTv2pjpAvXqxpaZIAq3Etm4uMCmJsxJsXvoQz3kgTEBkg==@dankz.documents.azure.com:10250/?ssl=true",
  "accountName": "",
  "accountKey": "",
  "sas": ""
}
